.crafts {
	min-height: 202px;
	padding: 10px;
}
.craft {
	border: 2px solid rgb(146, 146, 146);
	max-width: 400px;
	margin: auto;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: rgb(189, 189, 189);
}
.craft > div{ 
	padding: 5px;
	text-align: center;
}
.card{
	position: relative;
}
.crafted_count {
	position: absolute;
	opacity: .9;
	padding: 0px 10px;
	right: 10px;
	top: 0px;
	background-color: rgb(255, 255, 132);
	border: 3px solid rgb(145, 145, 63);
	color: rgb(53, 53, 17);
	border-radius: 10px;
	font-size: .9rem;
	font-family: Arial, Helvetica, sans-serif;
	/* margin: auto; */
}
.crafted_img {
	width: 70px;
}
.crafted_name {
	font-weight: bold;
	color: rgb(6, 15, 53);
}
.crafted_button {
	width: 100%;
	background-color: rgb(78, 145, 190);
}
.result_card {
	background-color: rgb(228, 228, 228);
}