.user-messages{
	position: fixed;
	z-index: 2;
	width: 75%;
	left: 0;
	padding: 5px 10px;
	right: 0;
	margin: auto;
	top: 60px;
	color: rgb(90, 90, 90);
	background-color: rgb(209, 209, 209);
	border: 3px solid rgb(133, 133, 133);
	transition: .3s;
}

.message-red{
	color: rgb(114, 50, 50);
	background-color: rgb(231, 154, 154);
	border: 3px solid rgb(136, 71, 71);
}
.message-green{
	color: rgb(34, 83, 43);
	background-color: rgb(154, 231, 161);
	border: 3px solid rgb(71, 136, 85);
}
.message-craft{
	color: rgb(47, 80, 110);
	background-color: rgb(154, 185, 231);
	border: 3px solid rgb(71, 88, 136);
}
.message-info{
	color: rgb(110, 109, 47);
	background-color: rgb(231, 230, 154);
	border: 3px solid rgb(132, 136, 71);
}