.categories__header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 180px;
	background-color: rgba(0, 0, 0, .3);
	margin: auto;
	padding: 5px;
	border-end-start-radius: 0;
	border-end-end-radius: 0;
}
.categories__header:hover{
	cursor: pointer;
}
.categories_logo {
	margin: auto;
	font-size: 3rem;
	color: rgb(126, 126, 126);
}
.categories_select{
	color: rgb(36, 36, 36);
}

.shop, .my-items{
	margin-bottom: 15px;
}
/* .shop{} */
/* .my-items{} */

.items-container {
	min-height: 210px;
	max-width: 1080px;
	max-height: 55vh;
	overflow-y: scroll;
	margin: auto;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, .3);
}