/* vag-world-bold.ttf */
@font-face {
  font-family: "myFont";
  src: url('./vag-world-bold.ttf') format('truetype');
}

* {
	touch-action: manipulation;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'myFont', Arial, Helvetica, sans-serif;
	border-radius: 3px;
}
body{
	min-height: 100vh;
}
button{
	outline: none;
	border: none;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.event_button {
	background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .7));
	color: white;
	font-weight: bolder;
}