.inner-case {
	background-color: rgba(0, 0, 0, .9);
	z-index: 10;
}
.inner-case__box {
	background-color: white;
	padding: 10px;
	display: grid;
	width: 80%;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
}
/* .inner-case__box__item {} */
.inner-case__box__item__img {
	width: 100%;
}